a{
  text-decoration: none;
  color: inherit;
}
input[type="file"]{
  display: none;
}
.main{
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.nav{
  width: 100%;
  height: 60px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  box-shadow:0 0 8px ;
}
a, a:hover{
  color: inherit;
  text-decoration: none;
}
  .nav .checkbtn{
  width: 40px;
  height: 55px;
  display:flex;
  visibility: hidden;
  align-items: center;
  float: right;
  cursor:pointer;
  line-height: 60px;
  }
  .nav .checkbtn .toggle, .nav .checkbtn .toggle::before, .nav .checkbtn .toggle::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background-color: gray;
  }
  .nav .checkbtn .toggle::before{
   top: 12px;
  }
  .nav .checkbtn .toggle::after{
    top: -15px;
  }
.email{
  text-transform: lowercase;
}
  #check{
    display: none;
    }

   #check:checked~ul{
    left: 0;
    top: 120px;
    }
.setting{
  display: flex;
  flex-direction: column;
}

.m-right{
 text-transform: uppercase;
 position: absolute;
 top: 115px;
 left:0%;
 width: 25%;
 height:100%;
 transition: 0.3s ;
 background-color: white;
 box-shadow:0 0 0,0 0 1px;
 z-index:999 !important;
}
.content{
  width: 70%;
  margin-left: auto;
}
.m-right li{
  width: 100%;
  cursor: pointer;
}
.m-right .li{
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-right li:hover{
  background-color: lightblue;
  color: white;
}
.m-right .li{
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-right .li a{
  display: block;
  width: 100% !important;
}
.m-right .profil:hover{
  background-color: white;
}

button{
  margin-bottom: 0 !important;
}
#resume{
  text-align: left;
}
#resume li{
  padding-left: .5rem;
  padding-right: 2rem;
}
li{
  font-size: large;
}

.table{
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}
.table table{
  width: 50%;
  display: inline-block;
}
.btnGroup{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
@media screen and (max-width:1100px){

  .m-right{
     width: 40%;
  }
  .table table{
    width: auto;
    margin: auto;
  }
}
@media screen and (max-width:780px){
  .nav .checkbtn{
    visibility: visible;
    }
  .m-right{
    left: -120%;
    width: 50% !important;
 }
  .content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .table table{
    width: auto;
  }
  .table table li span{
    margin-left: 0 !important;
  }
}
@media screen and (max-width:700px){

  .m-right{
     width: 75%;
     height: 100%;
  }
}


