<div class="container mt-5">
<div class="col-md-6 m-auto">
  <form >
    <div class="form-group">
      <select id="code" class="form-control">

        <option value="+229">Pays</option>
        <option value="+229">Pays</option>
        <option value="+229">Pays</option>
        <option value="+229">Pays</option>
        <option value="+229">Pays</option>
      </select>
      <!-- <div *ngIf="f.name.touched && f.name.invalid" class="text-danger">
        <div *ngIf="f.name.errors.required">Un nom est demandé .</div>
        <div *ngIf="f.name.errors.minlength">Le nom est trop court (au moins 2 lettres).</div>
      </div>

      <div class="text-danger" *ngIf="errors.name">{{errors.name}}</div> -->
    </div>
    <div class="form-group">
      <select id="code" class="form-control">

        <option value="+229">Ville</option>
        <option value="+229">Ville</option>
        <option value="+229">Ville</option>
        <option value="+229">Ville</option>
        <option value="+229">Ville</option>
      </select>

    </div>
    <div class="form-group">
      <select id="code" class="form-control">

        <option value="+229">Date</option>
        <option value="+229">Date</option>
        <option value="+229">Date</option>
        <option value="+229">Date</option>
        <option value="+229">Date</option>
      </select>

    </div>
    <div class="form-group">
      <select id="code" class="form-control">

        <option value="+229">Poids mini</option>
        <option value="+229">Poids mini</option>
        <option value="+229">Poids mini</option>
        <option value="+229">Poids mini</option>
        <option value="+229">Poids mini</option>
      </select>

    </div>
    <div class="form-group">
      <select id="code" class="form-control">

        <option value="+229">Poids maxi</option>
        <option value="+229">Poids maxi</option>
        <option value="+229">Poids maxi</option>
        <option value="+229">Poids maxi</option>
        <option value="+229">Poids maxi</option>
      </select>

    </div>

  </form>
</div>
</div>
