<div class="container col-sm-12 col-md-10 col-lg-8 mt-5" style="min-height: 300px;">
  <h3 class="text-info w-75 text-center mx-auto mb-3" style="word-wrap: break-word;">Liste des <span class="text-whitebg-dark p-2">annonces </span>disponibles</h3>

  <div style="background-color: white;" class="p-3">
    <p *ngFor="let annonce of annonces; let i = index" class="border rounded  mx-auto pl-2  my-2" style="height: 45px; font-size: x-large;">
      <a routerActive="active" [routerLink]="'/annonce/'+annonce.id" >
        <label  for="photo" style="line-height: 40px; cursor: pointer; overflow: hidden; width: 100%;"><img  [src]="(userInfo[i].photo!=null)?baseUrl+userInfo[i].photo:imageUrl" style="width: 30px;height: 30px; background-color: gray ; border-radius: 50%;  ;"> {{annonce.start_date}} - destination : {{annonce.city}}-{{annonce.destination}}  </label>
      </a>
    </p>
    <div *ngIf="annonces==''">
      <h5  class="text-center mt-5">Aucune annonce correspondante à votre recherche n'est disponible pour l'instant</h5>
    </div>

  </div>
</div>
