@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*:not(i){
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-margin-top:0 ;
  scroll-padding-top: 0;
}
a{
  cursor: pointer;
}


.wrapper{
  background: #fff;
  max-width: 450px;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

// :is(.chat-box)::-webkit-scrollbar{

// }


/* Chat Area CSS Start */

.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
  border-radius: 50%;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  position: relative;
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 30px 70px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p{
  background: #3498db;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}
//Champ de saisie
.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button{
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.typing-area .publisher-btn i:hover{
  cursor: pointer !important;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

.publisher {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 12px 20px;
      background-color: #f9fafb
  }

  .publisher>*:first-child {
      margin-left: 0
  }

  .publisher>* {
      margin: 0 8px
  }

  .publisher-input {
      -webkit-box-flex: 1;
      flex-grow: 1;
      border: none;
      outline: none !important;
      background-color: transparent;
      resize: none;
  }

  button,
  input {
      font-family: Roboto, sans-serif;
      font-weight: 300
  }


  .file-group {
      position: relative;
      overflow: hidden
  }

  .publisher-btn {
      background-color: transparent;
      border: none;
      color: #cac7c7;
      font-size: 16px;
      cursor: pointer !important;
      overflow: -moz-hidden-unscrollable;
      -webkit-transition: .2s linear;
      transition: .2s linear
  }

  .file-group input[type="file"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
      width: 20px
  }

  .text-info {
      color: #48b0f7 !important
  }

  .publisher .message__loading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#fff,.8);
  }
  .message__loading .loader{
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate3d(-50,-50,0);
  }
  .loader{
    display: block;
    border: 4px solid #ddd;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

/* Responive media query */
@media screen and (max-width: 450px) {

  .chat-area header{
    padding: 15px 20px;
  }
  .chat-box{
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p{
    font-size: 15px;
  }
  .chat-box .outogoing .details{
    max-width: 230px;
  }
  .chat-box .incoming .details{
    max-width: 265px;
  }
  .incoming .details img{
    height: 30px;
    width: 30px;
  }
  .chat-area form{
    padding: 20px;
  }
  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button{
    width: 45px;
  }
}
