<div class="container-fluid col-sm-8 col-md-6 col-lg-4 mt-5">
  <div class="login-box">

    <!-- /.login-logo -->
    <div class="card mb-5">
      <div class="card-body login-card-body">
        <p class="login-box-msg text-center text-info">Vous êtes seul à avoir accès à  votre nouveau mot de passe. Recouvrez votre mot de passe maintenant</p>
        <div class="alert alert-info" role="alert" *ngIf="message">
         {{message}}
        </div>
        <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm" >
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" name="password_confirmation" ngModel >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <p class="text-danger pl-1" *ngIf="error.password">{{error.password}}</p>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-info btn-block" [disabled] = "wait">Changer le mot de passe</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mt-3 mb-1">
          <a class="btn btn-outline-warning" routerLink="/login">Connexion</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>

