<div class="footer-clean">
  <hr>
  <footer>
      <div class="container">
        <div class="row justify-content-center item">
          <div class="col-sm-4 col-md-3 content ">
            <h3>Aides et contact</h3>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Legacy</a></li>
            </ul>
          </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Expeier un colis</a></li>
                    <li><a href="#">Transporter un colis</a></li>
                </ul>
            </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>Sécurité</h3>
            <ul>
                <li><a href="#">Job openings</a></li>
                <li><a href="#">Employee success</a></li>
                <li><a href="#">Benefits</a></li>
            </ul>
        </div>
        <hr>
      </div>


              <div class="col-lg-8 navbar navbar-expand mb-0 copy ">
                  <p class="copyright">© 2021 Tous droits reservés</p>
                 <a href="" class="nav-link">Respect de la vie privée</a>
                  <a href="" class="nav-link">A propos</a>
                  <a href="" class="nav-link">Règles de confidentialités</a>
              </div>
      </div>
  </footer>
</div>

