.main{
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.email{
  text-transform: lowercase;
}
.nav{
  width: 100%;
  height: 60px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  box-shadow:0 0 8px ;
}
a, a:hover{
  color: inherit;
  text-decoration: none;
}
  .nav .checkbtn{
  width: 40px;
  height: 55px;
  display:flex;
  visibility: hidden;
  align-items: center;
  float: right;
  cursor:pointer;
  line-height: 60px;
  }
  .nav .checkbtn .toggle, .nav .checkbtn .toggle::before, .nav .checkbtn .toggle::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background-color: gray;
  }
  .nav .checkbtn .toggle::before{
   top: 12px;
  }
  .nav .checkbtn .toggle::after{
    top: -15px;
  }

  #check{
    display: none;
    }

   #check:checked~ul{
    left: 0;
    top: 120px;
    }
.setting{
  display: flex;
  flex-direction: column;

}

.m-right{
 text-transform: uppercase;
 position: absolute;
 top: 115px;
 left:0%;
 width: 25%;
 height: 100%;
 transition: 0.3s ;
 background-color: white;
 box-shadow:0 0 0,0 0 1px;
 z-index:999 !important;
}
.content{
  width: 70%;
  margin-left: auto;
}
.m-right li{
  width: 100%;
  cursor: pointer;
}

.m-right .li{
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-right li:hover{
  background-color: lightblue;
  color: white;
}
.m-right .li a{
  display: block;
  width: 100% !important;
}

.m-right .profil:hover{
  background-color: white;
}
@media screen and (max-width:1100px){

  .m-right{
     width: 32%;
  }
}
@media screen and (max-width:780px){
  .nav .checkbtn{

    visibility: visible;
    }
  .m-right{
    left: -120%;
 }
  .content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  button{
    font-size: medium !important;
  }
}

@media screen and (max-width:700px){

  .m-right{
     width: 75%;
     height: 100%;
  }
}

input[type="file"]{
  display: none;
}

.notifications{
  min-width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.notifications i{
  margin-left: 50px;
  margin-right: 50px ;
  font-size:40px ;
}
.expediteur{
  position: relative;
}
.expediteur small{
  position: absolute;
  left:50%;
  top: 0;
  font-size: 10px;

}
.a:hover{
  color: inherit;
  text-decoration: none;
}
.notifications a{
  font-size: 20px;
}
.notifications a:hover{
  color: inherit;
}

@media screen and (max-width:780px) {
  .notifications{
    padding-left: 15px;
    position: absolute;
    top: 120px;
    right: 0px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  .notifications i{
    margin-bottom: 15px;
  }
  .notifications a{
    font-size: 14px;
    margin-right: 5px;
    word-wrap: break-word;
  }

  form{
    margin-top: 40px;
  }
}
